@use "../abstracts/variables";
@use "../abstracts/mixins";
.app {
  &-footer {
    position: relative;
    overflow: hidden;
    padding: 3rem 0;
    &:before {
      content: "";
      position: absolute;
      left: -15vw;
      bottom: -15vw;
      border-radius: 50%;
      width: 40vw;
      height: 40vw;
      background: linear-gradient(
        31deg,
        rgba(194, 29, 0, 1) 0%,
        rgba(234, 139, 113, 1) 100%
      );
      filter: blur(50px);
      opacity: 0.3;
      z-index: 1;
      user-select: none;
      pointer-events: none;
    }
    &:after {
      content: "";
      position: absolute;
      right: 15vw;
      bottom: -35vw;
      border-radius: 50%;
      width: 40vw;
      height: 40vw;
      background: linear-gradient(
        31deg,
        rgba(0, 194, 65, 1) 0%,
        rgba(55, 216, 11, 1) 100%
      );
      filter: blur(20px);
      opacity: 0.3;
      z-index: 1;
      user-select: none;
      pointer-events: none;
    }
    & .container {
      position: relative;
      z-index: 2;
    }
    &-strip {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      & h2 {
        font-family: variables.$font-secondary;
        opacity: 0.1;
        font-size: 2.5rem;
        margin: 0;
        line-height: 1;
        @include mixins.respond(deviceSm) {
          font-size: 1.5rem;
        }
      }
    }
    &-title {
      font-family: variables.$font-secondary;
      font-size: 1.125rem;
      margin: 0 0 1.5rem;
      @include mixins.respond(deviceSm) {
        margin: 0 0 0.5rem;
      }
    }
    & .nav {
      &-link {
        color: variables.$default;
        padding: 0.5rem 0;
      }
    }
    &-social {
      & img {
        height: 30px;
      }
    }
  }
}
