@use "sass:color";
@use "../abstracts/variables";
@use "../abstracts/mixins";
html {
  font-size: 100%;
  height: 100%;
}
body {
  font-size: 0.875rem;
  font-family: variables.$font-primary;
  color: variables.$default;
  margin: 0;
  padding: 0;
  background-color: #ede9de;
  min-height: 100vh;
}
#root {
  @include mixins.wh100;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  outline: 0;
  color: variables.$primary;
  &:hover {
    color: variables.$black;
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: variables.$black;
}
.rounded,
.card {
  border-radius: 0.75rem;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.font-secondary {
  font-family: variables.$font-secondary;
}

.text {
  &-blue {
    color: variables.$blue !important;
  }
  &-danger {
    color: #dc2626 !important;
  }
  &-xlarge {
    font-size: variables.$xlarge;
  }
  &-large {
    font-size: variables.$large;
  }
  &-medium {
    font-size: variables.$medium;
  }
  &-small {
    font-size: variables.$small;
  }
  &-muted {
    color: variables.$primary-light !important;
  }
  &-primary {
    color: variables.$primary !important;
  }
}

.btn {
  font-weight: 600;
  font-size: 0.875rem;
  height: 40px;
  padding: 0 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition-duration: 0.4s;
  &.pill {
    border-radius: 4rem;
  }
  &-sm {
    font-size: 0.725rem;
    height: 32px;
  }
  &-lg {
    font-size: 1rem;
    height: 54px;
    padding: 0 2rem;
  }
  &-primary {
    background: variables.$gradient;
    overflow: hidden;
    border: none;
    position: relative;
    & span {
      position: relative;
      z-index: 10;
      display: inline-flex;
      gap: 0.75rem;
      align-items: center;
    }
    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:before {
      content: "";
      background: variables.$black;
      width: 120%;
      height: 0;
      padding-bottom: 120%;
      top: -110%;
      left: -10%;
      border-radius: 50%;
      transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    }
    &:after {
      content: "";
      background: variables.$black;
      transform: translate3d(0, -100%, 0);
      transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    }
    &:hover {
      & span {
        animation: MoveScaleUpInitial 0.3s forwards,
          MoveScaleUpEnd 0.3s forwards 0.3s;
      }
      &:before {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
      }
      &:after {
        transform: translate3d(0, 0, 0);
        transition-duration: 0.05s;
        transition-delay: 0.4s;
        transition-timing-function: linear;
      }
    }
  }
  &-default {
    color: variables.$default;
    &:hover,
    &:focus,
    &:active,
    &:disabled,
    &.disabled {
      color: color.adjust(variables.$default, $lightness: -10%);
      border-color: transparent !important;
    }
  }
  &-light {
    color: variables.$default;
    background-color: #f5f5f5;
  }
}

.form-control,
.form-select {
  border-color: color.adjust(variables.$black, $lightness: 75%);
  height: 40px;
  font-size: 0.875rem;
  &:focus {
    border-color: rgba(134, 12, 22, 0.3);
    box-shadow: 0 0 0 0.25rem rgba(134, 12, 22, 0.2);
  }
  &-sm {
    height: 32px;
    font-size: 0.725rem;
  }
  &-lg {
    height: 60px;
    font-size: 1rem;
  }
}

textarea.form-control,
textarea {
  min-height: 80px;
}

.bg {
  &-light {
    background-color: variables.$light-gray !important;
  }
}
.form-check {
  padding: 0;
  margin: 0;
  min-height: inherit;
  &-input {
    display: none;
  }
  &-input + label {
    position: relative;
    padding: 0 0 0 1.5rem;
    user-select: none;
    font-size: 0.875rem;
    cursor: pointer;
    min-height: 20px;
    line-height: 1;
    margin: 0;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: -3px;
      left: 0;
      border: solid 2px #636d79;
      transition-duration: 0.3s;
    }
  }
  &-input[type="checkbox"] {
    & + label {
      &:before {
        border-radius: 0.25rem;
      }
      &:after {
        content: "";
        width: 10px;
        height: 5px;
        position: absolute;
        top: 3px;
        left: 5px;
        border: solid variables.$primary;
        border-width: 2px 2px 0 0;
        transform: rotate(100deg) scale(0);
        transition-duration: 0.3s;
      }
    }
  }
  &-input[type="checkbox"]:checked {
    & + label:before {
      background-color: variables.$primary;
      border-color: variables.$primary;
    }
    & + label:after {
      transform: rotate(130deg) scale(1);
      border-color: variables.$white;
    }
  }
  &-input[type="radio"] {
    & + label {
      &:before {
        border-radius: 50%;
      }
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 5px;
        transform: scale(0);
        transition-duration: 0.3s;
        background-color: variables.$primary;
      }
    }
  }
  &-input[type="radio"]:checked {
    & + label:before {
      border-color: variables.$primary;
    }
    & + label:after {
      transform: scale(1);
    }
  }
}

.sec {
  padding-top: 5rem;
  padding-bottom: 5rem;
  &-qr {
    & .card-qr {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: rgba(255, 255, 255, 0.8);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        background: linear-gradient(
          31deg,
          rgba(194, 29, 0, 1) 0%,
          rgba(234, 139, 113, 1) 100%
        );
        filter: blur(20px);
        opacity: 0.3;
        z-index: 1;
        user-select: none;
        pointer-events: none;
      }
      &:after {
        content: "";
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        background: linear-gradient(
          31deg,
          rgba(0, 194, 65, 1) 0%,
          rgba(55, 216, 11, 1) 100%
        );
        filter: blur(20px);
        opacity: 0.3;
        z-index: 1;
        user-select: none;
        pointer-events: none;
      }
      & > div {
        position: relative;
        z-index: 2;
      }
      & .btn:after {
        display: none;
      }
    }
    & .qr-code {
      max-width: 120px;
    }
  }
  &-form {
    background: url(../../assets/pattern.png) repeat #ede9de;
  }
  &-bootcamp {
    & .artist-video {
      padding-bottom: 45%;
    }
    & .notes {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: rgba(255, 255, 255, 0.6);
    }
  }
  &-process {
    background: url(../../assets/pattern.png) repeat #ede9de;
  }
  &-title {
    font-size: 3.5rem;
    font-weight: 900;
    display: inline-block;
    font-family: variables.$font-secondary;
    background: linear-gradient(
      90deg,
      rgba(93, 21, 24, 1) 0%,
      rgba(85, 15, 18, 1) 20%,
      rgba(134, 12, 22, 1) 40%,
      rgba(45, 25, 25, 1) 60%,
      rgba(21, 18, 33, 1) 80%,
      rgba(18, 16, 29, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-sub-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }
  &-usp {
    position: relative;
    overflow: hidden;
    & .cover-img {
      @include mixins.cover;
      user-select: none;
    }
    & .container {
      position: relative;
      z-index: 2;
    }
    & .sec-title {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 23%,
        rgba(153, 153, 153, 1) 34%,
        rgba(153, 153, 153, 1) 47%,
        rgba(255, 255, 255, 1) 84%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & .btn-circle {
      background: url(../../assets/btn-circle.svg) no-repeat center;
      background-size: 100%;
      color: variables.$white;
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
      width: 160px;
      height: 165px;
      margin: 0 auto;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.4;
    }
  }
  &-hero {
    min-height: 100vh;
    background: url(../../assets/buildings.png) no-repeat bottom center;
    background-size: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -10vw;
      top: 10vw;
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      background: linear-gradient(
        31deg,
        rgba(0, 194, 65, 1) 0%,
        rgba(55, 216, 11, 1) 100%
      );
      filter: blur(50px);
      opacity: 0.3;
      z-index: 1;
      user-select: none;
      pointer-events: none;
    }
    & .sec-head {
      position: relative;
      z-index: 2;
    }
  }
  &-mentor {
    background: url(../../assets/peacock.svg) no-repeat calc(100% + 100px) top;
  }
}

// Keyframes
@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.artist {
  &-card {
    background: rgba(255, 255, 255, 0.6);
    padding: 3rem 10rem;
    margin: 5rem 10rem;
    border-radius: 2rem;
    box-shadow: 0 0 0 8px rgba(224, 218, 202, 0.6);
    position: relative;
    min-height: 350px;
    &-element {
      position: absolute;
      user-select: none;
      pointer-events: none;
      &.mike {
        top: -60px;
        left: -100px;
        width: 200px;
      }
      &.tabla {
        bottom: -60px;
        left: -100px;
        width: 200px;
      }
      &.guitar {
        bottom: -100px;
        right: -150px;
        width: 400px;
      }
    }
  }
  &-list {
    position: relative;
    padding: 0 3rem;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 10%;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background: linear-gradient(
        31deg,
        rgba(194, 29, 0, 1) 0%,
        rgba(234, 139, 113, 1) 100%
      );
      filter: blur(50px);
      opacity: 0.5;
      z-index: 1;
      user-select: none;
      pointer-events: none;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10%;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background: linear-gradient(
        31deg,
        rgba(0, 194, 65, 1) 0%,
        rgba(55, 216, 11, 1) 100%
      );
      filter: blur(20px);
      opacity: 0.5;
      z-index: 1;
      user-select: none;
      pointer-events: none;
    }
  }
  &-item {
    backdrop-filter: blur(10px) saturate(120%);
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 2;
  }
  &-avtar {
    width: 3.25rem;
    height: 3.25rem;
    flex: 0 0 auto;
    background: variables.$light-gray;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    & img {
      @include mixins.cover;
    }
  }
  &-text {
    & .title {
      font-size: 1.25rem;
    }
    & .place {
      & span {
        &:after {
          content: "|";
          padding-left: 0.5rem;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
  &-video {
    background: variables.$black;
    border-radius: 3rem;
    height: 100px;
    padding: 0 0 65%;
    overflow: hidden;
    position: relative;
    color: variables.$white;
    &-wrapper {
      position: relative;
      padding: 100px 150px 0 0;
      &:before {
        content: "";
        width: 300px;
        height: 100px;
        padding-bottom: 60%;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../../assets/music-key.jpg) no-repeat;
        background-size: 100%;
      }
    }
    & img {
      @include mixins.cover;
      opacity: 0.6;
    }

    &-play {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      position: relative;
      transition-duration: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 20px solid variables.$white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0.2rem;
      }
    }
    &-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 2rem;
      gap: 2rem;
      & h2 {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 1) 23%,
          rgba(153, 153, 153, 1) 34%,
          rgba(153, 153, 153, 1) 47%,
          rgba(255, 255, 255, 1) 84%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.drop-file {
  border: dashed 2px #999;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.accordion {
  gap: 1rem;
  display: grid;
  &-item {
    border-radius: 3rem !important;
    border: none;
  }
  &-button {
    border-radius: 3rem !important;
    padding: 1.5rem 2.5rem;
    font-weight: 500;
    border: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
    &:not(.collapsed) {
      background: none;
      color: variables.$primary;
      box-shadow: none;
    }
  }
  &-body {
    padding: 0 2.5rem 1.5rem;
  }
}

.nav-tabs {
  border: none;
  & .nav-item {
    border: none;
  }
  & .nav-link {
    font-family: variables.$font-secondary;
    font-size: 1.25rem;
    color: variables.$default;
    border: none;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 4px;
      background: variables.$gradient;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 4px;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &.active {
      background: none;
      &:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

.step {
  &-card {
    background: url(../../assets/step-card.png) no-repeat center;
    background-size: 100%;
    width: 100%;
    padding: 0 0 21%;
    position: relative;
    &:nth-child(odd) {
      margin-top: 3rem;
    }
    & img {
      max-width: 100px;
    }
    &-text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      & .font-secondary {
        line-height: 1;
      }
    }
  }
}

.mentor-card {
  &-title {
    margin-top: -3rem;
  }
}

.card {
  &-usp {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.6);
  }
  &-expert {
    margin-right: 5rem;
    background: linear-gradient(
      206deg,
      rgba(243, 235, 198, 1) 0%,
      rgba(251, 245, 220, 1) 100%
    );
    & .badge-weekly {
      color: variables.$white;
      background: linear-gradient(
        90deg,
        rgba(93, 21, 24, 1) 0%,
        rgba(85, 15, 18, 1) 20%,
        rgba(134, 12, 22, 1) 40%,
        rgba(45, 25, 25, 1) 60%,
        rgba(21, 18, 33, 1) 80%,
        rgba(18, 16, 29, 1) 100%
      );
    }
    & .badge-coming {
      background: linear-gradient(
        206deg,
        rgba(98, 74, 132, 1) 0%,
        rgba(69, 53, 95, 1) 20%,
        rgba(47, 37, 66, 1) 40%,
        rgba(30, 25, 45, 1) 60%,
        rgba(21, 18, 33, 1) 80%,
        rgba(18, 16, 29, 1) 100%
      );
    }
    & .singer {
      &-avtar {
        width: 100px;
        height: 100px;
        flex: 0 0 auto;
        border-radius: 50%;
        background-color: variables.$white;
        position: relative;
        overflow: hidden;
        & img {
          @include mixins.cover;
        }
      }
    }
  }
  &-artist {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 1.25rem;
    padding: 1rem;
    &-thumb {
      position: relative;
      border-radius: 1.25rem;
      background: variables.$white;
      overflow: hidden;
      padding: 0 0 100%;
      height: 100px;
      & img {
        @include mixins.cover;
      }
    }
  }
}

.artist-slider {
  & .swiper-slide .card-artist {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    filter: blur(5px);
    & img {
      opacity: 0.9;
    }
  }
  & .swiper-slide-active .card-artist {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    filter: none;
    & img {
      opacity: 1;
    }
  }
}

.sec-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1031;
  & .scrolling-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* two images side by side */
    height: 100%;
    background: url(../../assets/hero-banner.jpg) repeat-x;
    background-size: contain;
    animation: scrollBg 200s linear infinite;
  }
  & .circle-content {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    background: #ede9de;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    & h5 {
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    & .circle-logo {
      height: 120px;
    }
    & .circle-text {
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
    }
    & .btn {
      background: variables.$white;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: variables.$black;
      border: solid 1px variables.$black;
      &:hover {
        color: variables.$white;
      }
    }
  }
}

@keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400% 0;
  }
}

.sec-slider {
  & .artist-video {
    padding: 0 0 120%;
    border-radius: 1.5rem;
    &-text {
      text-decoration: none;
    }
  }
  & .swiper {
    &-pagination {
      position: static;
      margin: 2rem 0;
    }
    &-button-prev,
    &-button-next {
      top: 100% !important;
      margin-top: -40px !important;
      color: black !important;
      & svg {
        height: 20px;
      }
    }
    &-nav {
      & .nav-btn {
        background: none;
        border: none;
        padding: 0.2rem 1rem;
        font-size: 1.5rem;
        font-weight: 300;
      }
      & .progress {
        &-line {
          width: 120px;
          height: 2px;
          background: rgba(0, 0, 0, 0.2);
          position: relative;
        }
        &-fill {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: variables.$black;
        }
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  user-select: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.6);
  &-spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-right-color: #c80129;
    animation: spinner-a4dj62 1s infinite linear;
    &:before,
    &:after {
      content: "";
      grid-area: 1/1;
      margin: 2.2px;
      border: inherit;
      border-radius: 50%;
      animation: spinner-a4dj62 2s infinite;
    }
    &:after {
      margin: 8.9px;
      animation-duration: 3s;
    }
  }
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

.gallery-item {
  border-radius: 2rem;
  background: variables.$white;
  padding: 0 0 100%;
  position: relative;
  overflow: hidden;
  & img {
    @include mixins.cover;
  }
}

.dropdown {
  &-item {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}
