$deviceXs: 575.5px;
$deviceSm: 767.5px;
$deviceMd: 991.5px;
$deviceLg: 1199.5px;
$deviceXl: 1366.5px;
@mixin respond($breakpoint) {
  @if $breakpoint == deviceXs {
    @media (max-width: #{$deviceXs}) {
      @content;
    }
  } @else if $breakpoint == deviceSm {
    @media (max-width: #{$deviceSm}) {
      @content;
    }
  } @else if $breakpoint == deviceMd {
    @media (max-width: #{$deviceMd}) {
      @content;
    }
  } @else if $breakpoint == deviceLg {
    @media (max-width: #{$deviceLg}) {
      @content;
    }
  } @else if $breakpoint == deviceXl {
    @media (max-width: #{$deviceXl}) {
      @content;
    }
  }
}

@mixin wh100 {
  width: 100%;
  height: 100%;
}
@mixin cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
